<div class="container-fluid table-bordered border border-primary" style="padding: 2%;">
  <h1 class="text-center text-light bg-info">Enamul Haque Angular Test</h1>
  <!-- <div class="row border">
    <div class="col"><i class="fa fa-ticket" aria-hidden="true">Seat-1</i></div>
    <div class="col"><i class="fa fa-ticket" aria-hidden="true">Seat-2</i></div>
    <div class="col"><i class="fa fa-ticket" aria-hidden="true">Seat-3</i></div>
    <div class="col"><i class="fa fa-ticket" aria-hidden="true">Seat-4</i></div>
    <div class="col"><i class="fa fa-ticket" aria-hidden="true">Seat-5</i></div>
    <div class="col"><i class="fa fa-ticket" aria-hidden="true">Seat-6</i></div>
    <div class="col"><i class="fa fa-ticket" aria-hidden="true">Seat-7</i></div>
  </div>
  <div class="row border">
    <div class="col"><i class="fa fa-ticket" aria-hidden="true">Seat-8</i></div>
    <div class="col"><i class="fa fa-ticket" aria-hidden="true">Seat-9</i></div>
    <div class="col"><i class="fa fa-ticket" aria-hidden="true">Seat-10</i></div>
    <div class="col"><i class="fa fa-ticket" aria-hidden="true">Seat-11</i></div>
    <div class="col"><i class="fa fa-ticket" aria-hidden="true">Seat-12</i></div>
    <div class="col"><i class="fa fa-ticket" aria-hidden="true">Seat-13</i></div>
    <div class="col"><i class="fa fa-ticket" aria-hidden="true">Seat-14</i></div>
  </div>
  <div class="row border">
    <div class="col"><i class="fa fa-ticket" aria-hidden="true">Seat-15</i></div>
    <div class="col"><i class="fa fa-ticket" aria-hidden="true">Seat-16</i></div>
    <div class="col"><i class="fa fa-ticket" aria-hidden="true">Seat-17</i></div>
    <div class="col"><i class="fa fa-ticket" aria-hidden="true">Seat-18</i></div>
    <div class="col"><i class="fa fa-ticket" aria-hidden="true">Seat-19</i></div>
    <div class="col"><i class="fa fa-ticket" aria-hidden="true">Seat-20</i></div>
    <div class="col"><i class="fa fa-ticket" aria-hidden="true">Seat-21</i></div>
  </div>
  <div class="row border">
    <div class="col"><i class="fa fa-ticket" aria-hidden="true">Seat-22</i></div>
    <div class="col"><i class="fa fa-ticket" aria-hidden="true">Seat-23</i></div>
    <div class="col"><i class="fa fa-ticket" aria-hidden="true">Seat-24</i></div>
    <div class="col"><i class="fa fa-ticket" aria-hidden="true">Seat-25</i></div>
    <div class="col"><i class="fa fa-ticket" aria-hidden="true">Seat-26</i></div>
    <div class="col"><i class="fa fa-ticket" aria-hidden="true">Seat-27</i></div>
    <div class="col"><i class="fa fa-ticket" aria-hidden="true">Seat-28</i></div>
  </div>
  <div class="row border">
    <div class="col"><i class="fa fa-ticket" aria-hidden="true">Seat-29</i></div>
    <div class="col"><i class="fa fa-ticket" aria-hidden="true">Seat-30</i></div>
    <div class="col"><i class="fa fa-ticket" aria-hidden="true">Seat-31</i></div>
    <div class="col"><i class="fa fa-ticket" aria-hidden="true">Seat-32</i></div>
    <div class="col"><i class="fa fa-ticket" aria-hidden="true">Seat-33</i></div>
    <div class="col"><i class="fa fa-ticket" aria-hidden="true">Seat-34</i></div>
    <div class="col"><i class="fa fa-ticket" aria-hidden="true">Seat-35</i></div>
  </div>
  <div class="row border">
    <div class="col"><i class="fa fa-ticket" aria-hidden="true">Seat-36</i></div>
    <div class="col"><i class="fa fa-ticket" aria-hidden="true">Seat-37</i></div>
    <div class="col"><i class="fa fa-ticket" aria-hidden="true">Seat-38</i></div>
    <div class="col"><i class="fa fa-ticket" aria-hidden="true">Seat-39</i></div>
    <div class="col"><i class="fa fa-ticket" aria-hidden="true">Seat-40</i></div>
    <div class="col"><i class="fa fa-ticket" aria-hidden="true">Seat-41</i></div>
    <div class="col"><i class="fa fa-ticket" aria-hidden="true">Seat-42</i></div>
  </div>
  <div class="row border">
    <div class="col"><i class="fa fa-ticket" aria-hidden="true">Seat-43</i></div>
    <div class="col"><i class="fa fa-ticket" aria-hidden="true">Seat-44</i></div>
    <div class="col"><i class="fa fa-ticket" aria-hidden="true">Seat-45</i></div>
    <div class="col"><i class="fa fa-ticket" aria-hidden="true">Seat-46</i></div>
    <div class="col"><i class="fa fa-ticket" aria-hidden="true">Seat-47</i></div>
    <div class="col"><i class="fa fa-ticket" aria-hidden="true">Seat-48</i></div>
    <div class="col"><i class="fa fa-ticket" aria-hidden="true">Seat-49</i></div>
  </div>
  <div class="row border">
    <div class="col"><i class="fa fa-ticket" aria-hidden="true">Seat-50</i></div>
    <div class="col"><i class="fa fa-ticket" aria-hidden="true">Seat-51</i></div>
    <div class="col"><i class="fa fa-ticket" aria-hidden="true">Seat-52</i></div>
    <div class="col"><i class="fa fa-ticket" aria-hidden="true">Seat-53</i></div>
    <div class="col"><i class="fa fa-ticket" aria-hidden="true">Seat-54</i></div>
    <div class="col"><i class="fa fa-ticket" aria-hidden="true">Seat-55</i></div>
    <div class="col"><i class="fa fa-ticket" aria-hidden="true">Seat-56</i></div>
  </div>
  <div class="row border">
    <div class="col"><i class="fa fa-ticket" aria-hidden="true">Seat-57</i></div>
    <div class="col"><i class="fa fa-ticket" aria-hidden="true">Seat-58</i></div>
    <div class="col"><i class="fa fa-ticket" aria-hidden="true">Seat-59</i></div>
    <div class="col"><i class="fa fa-ticket" aria-hidden="true">Seat-60</i></div>
    <div class="col"><i class="fa fa-ticket" aria-hidden="true">Seat-61</i></div>
    <div class="col"><i class="fa fa-ticket" aria-hidden="true">Seat-62</i></div>
    <div class="col"><i class="fa fa-ticket" aria-hidden="true">Seat-63</i></div>
  </div>
  <div class="row border">
    <div class="col"><i class="fa fa-ticket" aria-hidden="true">Seat-64</i></div>
    <div class="col"><i class="fa fa-ticket" aria-hidden="true">Seat-65</i></div>
    <div class="col"><i class="fa fa-ticket" aria-hidden="true">Seat-66</i></div>
    <div class="col"><i class="fa fa-ticket" aria-hidden="true">Seat-67</i></div>
    <div class="col"><i class="fa fa-ticket" aria-hidden="true">Seat-68</i></div>
    <div class="col"><i class="fa fa-ticket" aria-hidden="true">Seat-69</i></div>
    <div class="col"><i class="fa fa-ticket" aria-hidden="true">Seat-70</i></div>
  </div>
  <div class="row border">
    <div class="col"><i class="fa fa-ticket" aria-hidden="true">Seat-71</i></div>
    <div class="col"><i class="fa fa-ticket" aria-hidden="true">Seat-72</i></div>
    <div class="col"><i class="fa fa-ticket" aria-hidden="true">Seat-73</i></div>
    <div class="col"><i class="fa fa-ticket" aria-hidden="true">Seat-74</i></div>
    <div class="col"><i class="fa fa-ticket" aria-hidden="true">Seat-75</i></div>
    <div class="col"><i class="fa fa-ticket" aria-hidden="true">Seat-76</i></div>
    <div class="col"><i class="fa fa-ticket" aria-hidden="true">Seat-77</i></div>
  </div>
  <div class="row border" style="margin-right: 57%;">
    <div class="col"><i class="fa fa-ticket" aria-hidden="true">Seat-78</i></div>
    <div class="col"><i class="fa fa-ticket" aria-hidden="true">Seat-79</i></div>
    <div class="col"><i class="fa fa-ticket" aria-hidden="true">Seat-80</i></div>

  </div> -->
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">S.No</th>
        <th scope="col">A</th>
        <th scope="col">B</th>
        <th scope="col">C</th>
        <th scope="col">D</th>
        <th scope="col">E</th>
        <th scope="col">F</th>
        <th scope="col">G</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let seat of jsonData; index as i">
        <th scope="row">{{1+i}}</th>
        <td><button class="fa fa-ticket"[disabled]="!seat?.S1||(SeatBox.length==7)||s1"  (click)="BookSeat(seat?.S1,'s1')" aria-hidden="true" [title]="(seat?.S1)?'This seat is avalaible':'This seat is not avalaible'">{{seat?.S1}}</button></td>
        <td><button class="fa fa-ticket"[disabled]="!seat?.S2 ||(SeatBox.length==7) ||s2"  aria-hidden="true" (click)="BookSeat(seat?.S2,'s2')" [title]="(seat?.S2)?'This seat is avalaible':'This seat is not avalaible'">{{seat?.S2}}</button></td>
        <td><button class="fa fa-ticket" [disabled]="!seat?.S3 ||(SeatBox.length==7) ||s3"aria-hidden="true" (click)="BookSeat(seat?.S3,'s3')" [title]="(seat?.S3)?'This seat is avalaible':'This seat is not avalaible'">{{seat?.S3}}</button></td>
        <td><button class="fa fa-ticket" [disabled]="!seat?.S4 ||(SeatBox.length==7) ||s4"aria-hidden="true" (click)="BookSeat(seat?.S4,'s4')" [title]="(seat?.S4)?'This seat is avalaible':'This seat is not avalaible'">{{seat?.S4}}</button></td>
        <td><button class="fa fa-ticket" [disabled]="!seat?.S5 ||(SeatBox.length==7) ||s5"aria-hidden="true"(click)="BookSeat(seat?.S5,'s5')" [title]="(seat?.S5)?'This seat is avalaible':'This seat is not avalaible'">{{seat?.S5}}</button></td>
        <td><button class="fa fa-ticket"[disabled]="!seat?.S6 ||(SeatBox.length==7) ||s6" aria-hidden="true"(click)="BookSeat(seat?.S6,'s6')" [title]="(seat?.S6)?'This seat is avalaible':'This seat is not avalaible'">{{seat?.S6}}</button></td>
        <td><button class="fa fa-ticket"[disabled]="!seat?.S7 ||(SeatBox.length==7) ||s7" aria-hidden="true"(click)="BookSeat(seat?.S7,'s7')"[title]="(seat?.S7)?'This seat is avalaible':'This seat is not avalaible'">{{seat?.S7}}</button></td>
      </tr>

    </tbody>
  </table>
  <div class="row">
    <label class="text-primary">Booked tickets</label>
  </div>
  <hr>

  <div class="row" *ngFor="let item of SeatBox; index as i">
    <div class="col  border">
      <span class="text-success">{{item}}</span>
    </div>

  </div>
</div>




