<div class="container-fluid table-bordered border border-primary" style="padding: 2%;">
  <h1 class="text-center text-light bg-info">Enamul Haque Angular Test</h1>


  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">S.No</th>
        <th scope="col">A</th>
        <th scope="col">B</th>
        <th scope="col">C</th>
        <th scope="col">D</th>
        <th scope="col">E</th>
        <th scope="col">F</th>
        <th scope="col">G</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let seat of jsonData; index as i">
        <th scope="row">{{1+i}}</th>
        <td><button class="fa fa-ticket"[disabled]="!seat?.S1||(SeatBox.length==7)||s1"  (click)="BookSeat(seat?.S1,'s1')" aria-hidden="true" [title]="(seat?.S1)?'This seat is avalaible':'This seat is not avalaible'">{{seat?.S1}}</button></td>
        <td><button class="fa fa-ticket"[disabled]="!seat?.S2 ||(SeatBox.length==7) ||s2"  aria-hidden="true" (click)="BookSeat(seat?.S2,'s2')" [title]="(seat?.S2)?'This seat is avalaible':'This seat is not avalaible'">{{seat?.S2}}</button></td>
        <td><button class="fa fa-ticket" [disabled]="!seat?.S3 ||(SeatBox.length==7) ||s3"aria-hidden="true" (click)="BookSeat(seat?.S3,'s3')" [title]="(seat?.S3)?'This seat is avalaible':'This seat is not avalaible'">{{seat?.S3}}</button></td>
        <td><button class="fa fa-ticket" [disabled]="!seat?.S4 ||(SeatBox.length==7) ||s4"aria-hidden="true" (click)="BookSeat(seat?.S4,'s4')" [title]="(seat?.S4)?'This seat is avalaible':'This seat is not avalaible'">{{seat?.S4}}</button></td>
        <td><button class="fa fa-ticket" [disabled]="!seat?.S5 ||(SeatBox.length==7) ||s5"aria-hidden="true"(click)="BookSeat(seat?.S5,'s5')" [title]="(seat?.S5)?'This seat is avalaible':'This seat is not avalaible'">{{seat?.S5}}</button></td>
        <td><button class="fa fa-ticket"[disabled]="!seat?.S6 ||(SeatBox.length==7) ||s6" aria-hidden="true"(click)="BookSeat(seat?.S6,'s6')" [title]="(seat?.S6)?'This seat is avalaible':'This seat is not avalaible'">{{seat?.S6}}</button></td>
        <td><button class="fa fa-ticket"[disabled]="!seat?.S7 ||(SeatBox.length==7) ||s7" aria-hidden="true"(click)="BookSeat(seat?.S7,'s7')"[title]="(seat?.S7)?'This seat is avalaible':'This seat is not avalaible'">{{seat?.S7}}</button></td>
      </tr>

    </tbody>
  </table>
  <div class="row">
    <label class="text-primary">Booked tickets</label>
  </div>
  <hr>

  <div class="row" *ngFor="let item of SeatBox; index as i">
    <div class="col  border">
      <span class="text-success">{{item}}</span>
    </div>

  </div>
</div>




